@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2wowhd');
	src:url('fonts/icomoon.eot?#iefix2wowhd') format('embedded-opentype'),
		url('fonts/icomoon.woff?2wowhd') format('woff'),
		url('fonts/icomoon.ttf?2wowhd') format('truetype'),
		url('fonts/icomoon.svg?2wowhd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\e603";
}
.icon-feather:before {
	content: "\e606";
}
.icon-heart:before {
	content: "\e607";
}
.icon-light-bulb:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}
.icon-linkedin:before {
	content: "\e60b";
}
.icon-dribbble:before {
	content: "\e60c";
}
.icon-mail2:before {
	content: "\e002";
}
.icon-disc:before {
	content: "\e019";
}
.icon-heart2:before {
	content: "\e024";
}
.icon-globe:before {
	content: "\e078";
}
.icon-grid2:before {
	content: "\e102";
}
.icon-loader:before {
	content: "\e105";
}
.icon-medium-icon:before {
	content: "\e600";
}
.icon-dribbble-icon:before {
	content: "\e601";
}
.icon-linkedin-icon:before {
	content: "\e602";
}
.icon-twitter-icon:before {
	content: "\e604";
}
.icon-facebook-icon:before {
	content: "\e605";
}
