.hi-icon {
	display: inline-block;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	/*background: rgba(255,255,255,0.1);*/
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	/*top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: inset 0 0 0 2px #DFD9EC;*/
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.no-touch .hi-icon-effect-1a .hi-icon:hover {
	background: rgba(223,217,236,1);
	color: #474549;
}

.no-touch .hi-icon-effect-1a .hi-icon:hover:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: inset 0 0 0 2px #DFD9EC;/*lines up to here were moved down from hi-icon-effect1 .hi-icon:after so that circles show only when icons hovered on, not entire circle-container*/;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;

}