@font-face {
  font-family: 'Hallo Sans';
  src: url('../fonts/Hallo-sans.otf') format('opentype');
}

@font-face {
  font-family: 'Simplifica';
  src: url('../fonts/SIMPLIFICA.ttf') format('truetype');
}

@font-face {
  font-family: 'iconfont';
  src:url('../fonts/icon-fonts/fonts/icomoon.eot');
  src:url('../fonts/icon-fonts/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icon-fonts/fonts/icomoon.woff') format('woff'),
    url('../fonts/icon-fonts/fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icon-fonts/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-smooth: always;
  background-image: url('../images/bg.svg');
  background-color: #474549;
  background-position: center;
}

a {
  color: inherit;
}

.icon:before {
  font-family: 'iconfont';
  font-size: 64px;
  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  text-rendering: optimizeLegibility;
}

.wrapper { 
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-rendering: optimizeLegibility;
}

.main {
  top: 4em;
  padding: 1em;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/**************/
/*LEFT SECTION*/
/**************/

.left {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin: 2em;
}

.left h1 {
  font-family: "Simplifica", "Arial";
  letter-spacing: .1em;
  font-weight: 600;
  color: #DFD9EC;
  font-size: 44px;
  text-transform: uppercase;
}

/**************/
/*LIST SECTION*/
/**************/

.left ul {
  font-family: "Hallo Sans", "Simplifica", "Arial";
  font-weight: lighter;
  color: #A19DB6;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 2em; /*pushes social media icons down on mobile view*/
  padding-left: 0em;
  list-style: none;
}
.left li {
  padding-top: .4em;
  padding-bottom: .4em;
  vertical-align: top;
}

.left li a {
  color: inherit;
  text-decoration: inherit;
}

.left p {
  font-family: 'Hallo Sans', "Arial";
  font-size: 20px;
  font-weight: 400;
  color: #DFD9EC;
}

.left p a:hover {
  color: #fff;
}

.bullet {
  margin-right: .5em;
  font-family: 'iconfont';
  font-size: .75em;
  color: inherit;
  font-weight: 100;
}

.mail-list{}
.problem-list{}

.mail-icon:before {
  content: "\e603";
}

/*****************/
/*PROBLEM SECTION*/
/*****************/

.problem-icon:before {
  content: "\e608";
}

.problem-list {
  cursor: pointer;
}

.problem-content {
  height: 13.5em;
  background: rgba(97, 93, 100, 0.7);
  padding: .1em .75em .1em .75em;
  margin-bottom: .5em;
}

.problem-content p {
  font-size: .75em;
}

#Answer {
  font-family: 'Hallo Sans', 'Arial';
  font-weight: lighter;
  font-size: 18px;
  border: none;
  outline: none;
  background: #44414B;
  height: 2em;
  width: 3em;
  color: #DFD9EC;
  margin-right: 1em;
  padding-left: .5em;
}

/***************/
/*RIGHT SECTION*/
/***************/

.right {
  display: inline-block;
}

.circle-container {
  position: relative;
  width: 15em;
  height: 15em;
  padding: 2.82em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
  border: solid 2px #D77691;
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.circle-container a {
  /*display: block;
  overflow: hidden;*/
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em; /* 2em = 4em/2 */ /* half the width */
  text-decoration: none;
  color: #A19DB6;
}

/*
.circle-container a:hover {
  width: 5em; height: 5em;
}*/

.circle-container img { display: block; width: 100%; }


.deg54 { 
  transform: rotate(54deg) translate(10em) rotate(-54deg); /*translate 9 instead of 10 bc of padding of 1em for the background circle*/

}
.deg126 { 
  transform: rotate(126deg) translate(10em) rotate(-126deg);
}
.deg198 { 
  transform: rotate(198deg) translate(10em) rotate(-198deg);
}
.deg270 { 
  transform: rotate(270deg) translate(10em) rotate(-270deg);
}
.deg342 { 
  transform: rotate(342deg) translate(10em) rotate(-342deg);
}

.deg54, .deg126, .deg198, .deg270, .deg342 {
  background-color: #474549;
  border-radius: 50%;
  padding: 0.8em; /*draws a circle larger than image*/
  margin: -2.8em !important; /*override 2em margin, then adjust for the .8 extra*/
}

.deg54:before {
  content: "\e602";
}

.deg126:before {
  content: "\e601";
}

.deg198:before {
  content: "\e605";
}

.deg270:before {
  content: "\e604";
}

.deg342:before {
  content: "\e600";
}

.mobile-linkedin:before{
  content: "\e60b";
}

.mobile-dribbble:before{
  content: "\e60c";
}

.mobile-facebook:before{
  content: "\e60a";
}

.mobile-twitter:before{
  content: "\e609";
}

.mobile-medium:before{
  content: "\e606";
}

.mobile-social-icons {
  display: inline;
  text-decoration: none;
  display: none;
}

.mobile-social-icons a{
  font-family: 'iconfont';
  font-size: 18px;
  font-weight: 800;
  color: #A19DB6;
  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  text-rendering: optimizeLegibility;
  padding-right: .25em;
  text-decoration: none;
}

.mobile-social-icons a:hover {
  color: #DFD9EC;
}
/*.deg54:hover, .deg126:hover, .deg198:hover, .deg270:hover, .deg342:hover{
  padding: .1em;
}*/


/* this is for showing the circle on which the images are placed */

/*.circle-container:after {
  background: #474549;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}*/

.circle-container:before {
  position: absolute;
  top: 0.57em; left: 0.57em;/*radius of circle increases by 4.5, so distance adjustment is 2.82-2.25*/
  width: 19.5em; height: 19.5em; /*there's a 2.8em padding on the outter circle so must compensate here*/ 
  border: solid 1px #D77691;
  border-radius: 50%;
  opacity: .8;
  pointer-events: none;
  content: '';
}

.circle-container:hover:after { opacity: 1; }

/*.circle-container a:not(.center):after {
  position: absolute;
  top: 50%; left: 50%;
  width: 4px; height: 4px;
  border-radius: 50%;

  margin: -2px;
  background: deeppink;
  opacity: .3;
  content: '';
}*/
.circle-container:hover a:after { opacity: 1; }
.circle-container a:hover:after { opacity: .5; }

#icon-bg-circle {
  background: #474549;
  width: 5em
  height: 5em;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  body {background-image: none;}
  .circle-container {
    display: none;
  }
  .mobile-social-icons {
    display: inline;
  }