.wrapper { 
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('bg.png'); 
  background-size: cover;
}
.circle-container {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
  border: solid 2px #D77691;
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.circle-container a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em; /* 2em = 4em/2 */ /* half the width */
}

.circle-container img { display: block; width: 100%; }

.deg54 { transform: rotate(54deg) translate(12em) rotate(-54deg); }
.deg126 { transform: rotate(126deg) translate(12em) rotate(-126deg); }
.deg198 { transform: rotate(198deg) translate(12em) rotate(-198deg); }
.deg270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg342 { transform: rotate(342deg) translate(12em) rotate(-342deg); }

/* this is for showing the circle on which the images are placed */
.circle-container:after {
  position: absolute;
  top: 2.8em; left: 2.8em;
  width: 24em; height: 24em;
  border: solid 2px #D77691;
  border-radius: 50%;
  opacity: .3;
  pointer-events: none;
  content: '';
}
.circle-container:hover:after { opacity: 1; }
.circle-container a:not(.center):after {
  position: absolute;
  top: 50%; left: 50%;
  width: 4px; height: 4px;
  border-radius: 50%;

  margin: -2px;
  background: deeppink;
  opacity: .3;
  content: '';
}
.circle-container:hover a:after { opacity: 1; }
.circle-container a:hover:after { opacity: .5; }

#icon-bg-circle {
  background: #474549;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}