body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-smooth: always;
}
.wrapper { 
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('../assets/bg.png');
  background-color: #474549;
  background-size: cover
  text-rendering: optimizeLegibility;
}

.main {
  padding: 5em;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.left {
  padding-top: 3em;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  min-width: 205px}

.left h1 {
  font-family: "Hallo Sans", "Arial";
  font-weight: lighter;
  color: #DFD9EC;
  font-size: 48px;
}

.left ul {
  list-style-image: url('../assets/default-list.svg');
  font-family: "Hallo Sans", "Arial";
  font-weight: lighter;
  color: #A19DB6;
  font-size: 30px;
  margin: 0;
  padding: 0em;
  padding-left: .7em;
}
.left li {
  padding: .4em;
  vertical-align: top;
}

.left a {
  color: inherit;
  text-decoration: inherit;
}

.left ul a:hover {
  list-style-image: url('../assets/hover-list.svg');
}

.right {
  display: inline-block;
  width: 40%;
}

.circle-container {
  position: relative;
  width: 15em;
  height: 15em;
  padding: 2.82em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
  border: solid 2px #D77691;
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.circle-container a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em; /* 2em = 4em/2 */ /* half the width */
}

.circle-container img { display: block; width: 100%; }

.cirlce-container img.top:hover {
  opacity:0;
}

.deg54 { 
  transform: rotate(54deg) translate(10em) rotate(-54deg); /*translate 9 instead of 10 bc of padding of 1em for the background circle*/
}
.deg126 { 
  transform: rotate(126deg) translate(10em) rotate(-126deg);
}
.deg198 { 
  transform: rotate(198deg) translate(10em) rotate(-198deg);
}
.deg270 { 
  transform: rotate(270deg) translate(10em) rotate(-270deg);
}
.deg342 { 
  transform: rotate(342deg) translate(10em) rotate(-342deg);
}

.deg54, .deg126, .deg198, .deg270, .deg342 {
  background: #474549;
  border-radius: 50%;
  padding: 0.8em;
  margin: -2.8em !important; /*override 2em margin, then adjust for the .8 extra*/
}


/* this is for showing the circle on which the images are placed */

/*.circle-container:after {
  background: #474549;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}*/

.circle-container:before {
  position: absolute;
  top: 0.57em; left: 0.57em;/*radius of circle increases by 4.5, so distance adjustment is 2.82-2.25*/
  width: 19.5em; height: 19.5em; /*there's a 2.8em padding on the outter circle so must compensate here*/ 
  border: solid 1px #D77691;
  border-radius: 50%;
  opacity: .8;
  pointer-events: none;
  content: '';
}

.circle-container:hover:after { opacity: 1; }
.circle-container a:not(.center):after {
  position: absolute;
  top: 50%; left: 50%;
  width: 4px; height: 4px;
  border-radius: 50%;

  margin: -2px;
  background: deeppink;
  opacity: .3;
  content: '';
}
.circle-container:hover a:after { opacity: 1; }
.circle-container a:hover:after { opacity: .5; }

#icon-bg-circle {
  background: #474549;
  width: 5em
  height: 5em;
  border-radius: 50%;
}